*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;
}

body{
    background: #222;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
  background-color: black; 
}

/* .card{
  width: 90%;
  max-width: 500px;
  background: linear-gradient(45deg, #00a6ff, #9d9b9b);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
} */

.card {
  position: relative;
  width: 90%;
  max-width: 500px;
  background: rgba(93, 93, 93, 0.5); /* Black color with 50% transparency */
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  z-index: 1;
  backdrop-filter: blur(0px); /* Optional: adds a blur effect to the background */
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  cursor: pointer;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px; 
  cursor: pointer;
}

.search button img {
  width: 16px;
}

.weather-icon{
  width: 170px;
  margin-top: 30px;
}

.weather h2{
  font-size: 45px;
  font-weight: 500;
}

.weather h3{
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px ;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 40px;
  margin-right: 10px;
}

.humidity, .wind{
  font-size: 18px; 
  margin-top: -6px ;
}

.weather{
  display: none;
}

.error{
  display: none;
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  font-weight: bolder;
}